In [1]:
import pandas as pd
import numpy as np

In [30]:
tracts_list = pd.read_csv('./data/tracts.csv')
tracts_list.drop(['NAMELSAD', 'AWATER', 'INTPTLAT', 'INTPTLON', 'Geography', 'Id', 'Id2', '_count', '_sum', '_mean',
            'Id_2', 'Id2_2', 'Geography_', 'Total; Est', 'Households', 'Total; E_1',
       'Househol_1', 'Total; E_2', 'Househol_2', 'Total; E_3', 'Househol_3',
       'Househol_4', 'Total; E_4', 'Total; E_5', 'Total; E_6', 'Total; E_7',
       'Total; E_8', 'Total; E_9', 'Total; E10', 'Total; E11', 'Total; E12',
       'Total; E13', 'Total; E14', 'Total; E15', 'Total; E16', 'Total; E17',
       'Total; E18', 'Total; E19', 'Total; E20', 'Total; E21', 'Total; E22',
       'Total; E23', 'Total; E24', 'Total; E25', 'Total; E26', 'Total; E27',
       'Total; E28', 'Total; E29'],
           axis =1 , inplace=True)
tracts_list.shape

(878, 3)

In [31]:
tracts_list.columns = ['object_id', 'geo_id', 'area']

In [32]:
tracts_list.head()

   object_id       geo_id       area
0      600.0  17031440300  1295022.0
1      601.0  17031440600   666619.0
2      769.0  17031691200  1003068.0
3      789.0  17031710900   990948.0
4      795.0  17031711500   649295.0

In [33]:
tracts_ids = list(tracts_list['geo_id'])
len(tracts_ids)

878

# Census Data Work

In [34]:
# import cols of interest
meta = pd.read_csv('./data/census/meta.csv')

census_cols = ['GEOID']
census_cols.extend(list(meta['Short_Name']))

col_names = ['geo_id']
col_names.extend(list(meta['Name']))

In [35]:
# import other census data
age = pd.read_csv('./data/census/age_sex.csv')
counts = pd.read_csv('./data/census/counts.csv')
employment = pd.read_csv('./data/census/employment.csv')
food_stamps = pd.read_csv('./data/census/food_stamps.csv')
insurance = pd.read_csv('./data/census/health_insurance.csv')
poverty = pd.read_csv('./data/census/poverty.csv')

print(age.shape, counts.shape, employment.shape, food_stamps.shape, insurance.shape, poverty.shape)

(3123, 720) (3123, 6) (3123, 1626) (3123, 244) (3123, 1636) (3123, 3942)

In [36]:
ids = list(age['GEOID'])

sets = [counts, employment, food_stamps, insurance, poverty]
for set in sets:
    set.drop('GEOID', inplace=True, axis = 1)
    


data = pd.concat([age, counts, employment, food_stamps, insurance, poverty], axis = 1)

tracts_census = pd.DataFrame(data[census_cols])

tracts_census.columns = col_names

In [37]:
tracts_census['under_5'] = tracts_census['under_5_boys'] + tracts_census['under_5_girls']
tracts_census['pov_rate'] = tracts_census['pop_poverty_yes'] / tracts_census['pop_poverty_det'] + 1
uninsured = ['uninsured1', 'uninsured2', 'uninsured3', 'uninsured4', 'uninsured5', 'uninsured6', 'uninsured7',
             'uninsured8', 'uninsured9', 'uninsured10', 'uninsured11', 'uninsured12', 'uninsured13', 'uninsured14',
             'uninsured15', 'uninsured16', 'uninsured17', 'uninsured18']
elders = ['elder1', 'elder2', 'elder3', 'elder4', 'elder5', 'elder6', 'elder7', 'elder8', 'elder9', 'elder10', 'elder11', 'elder12']

tracts_census['uninsured'] = tracts_census['uninsured1'] + tracts_census['uninsured2'] + tracts_census['uninsured3'] + tracts_census['uninsured4'] + tracts_census['uninsured5'] + tracts_census['uninsured6'] + tracts_census['uninsured7'] + tracts_census['uninsured8'] + tracts_census['uninsured9'] + tracts_census['uninsured10'] + tracts_census['uninsured11'] + tracts_census['uninsured12'] + tracts_census['uninsured13'] + tracts_census['uninsured14'] + tracts_census['uninsured15'] + tracts_census['uninsured16'] + tracts_census['uninsured17'] + tracts_census['uninsured18']
tracts_census['elders'] = tracts_census['elder1'] + tracts_census['elder2'] + tracts_census['elder3'] + tracts_census['elder4'] + tracts_census['elder5'] + tracts_census['elder6'] + tracts_census['elder7'] + tracts_census['elder8'] + tracts_census['elder9'] + tracts_census['elder10'] + tracts_census['elder11'] + tracts_census['elder12'] 

tracts_census.drop(['under_5_boys', 'under_5_girls', 'pop_poverty_yes', 'pop_poverty_det'], inplace=True, axis = 1)
tracts_census.drop(elders, inplace=True, axis =1)
tracts_census.drop(uninsured, inplace=True, axis=1)

tracts_census.head()

,geo_id,total_pop,food_stamps_det,food_stamps_yes,insured_det,under_5,pov_rate,uninsured,elders
0,14000US17001000100,4569,2185,205,4569,198,1.038739,76,1167
1,14000US17001000201,1937,858,90,1937,135,1.166925,227,463
2,14000US17001000202,2563,991,232,2563,238,1.170722,241,339
3,14000US17001000400,3403,1390,515,3190,177,1.316484,342,645
4,14000US17001000500,2298,861,213,2020,116,1.251509,234,432

In [38]:
tracts_census.shape

(3123, 9)

In [39]:
tracts_census['pop_vulnerable'] = tracts_census['elders'] + tracts_census['under_5'] + 1
tracts_census['uninsured_rate'] = tracts_census['uninsured'] / tracts_census['insured_det'] + 1
tracts_census.drop(['elders', 'under_5', 'food_stamps_yes', 'food_stamps_det', 'insured_det', 'uninsured'], axis=1, inplace=True)
tracts_census.head()

               geo_id  total_pop  pov_rate  pop_vulnerable  uninsured_rate
0  14000US17001000100       4569  1.038739            1366        1.016634
1  14000US17001000201       1937  1.166925             599        1.117192
2  14000US17001000202       2563  1.170722             578        1.094030
3  14000US17001000400       3403  1.316484             823        1.107210
4  14000US17001000500       2298  1.251509             549        1.115842

In [40]:
GEOID = list(tracts_census['geo_id'])
new_ids  = []
for idi in GEOID:
    new_ids.append(idi[7:])
tracts_census['geo_id'] = new_ids
print(tracts_census.shape)
tracts_census.head(5)

(3123, 5)

        geo_id  total_pop  pov_rate  pop_vulnerable  uninsured_rate
0  17001000100       4569  1.038739            1366        1.016634
1  17001000201       1937  1.166925             599        1.117192
2  17001000202       2563  1.170722             578        1.094030
3  17001000400       3403  1.316484             823        1.107210
4  17001000500       2298  1.251509             549        1.115842

# Connect to Tracts with Areas

In [41]:
#import intersect
intersect = pd.read_csv('./data/census/buffer_intersect.csv')
intersect.head()

   OBJECTID        GEOID           NAMELSAD  Trap  intersect_
0     600.0  17031440300  Census Tract 4403  T229   58774.383
1     600.0  17031440300  Census Tract 4403  T162  161907.113
2     600.0  17031440300  Census Tract 4403  T227    3267.645
3     600.0  17031440300  Census Tract 4403  T080  769521.358
4     600.0  17031440300  Census Tract 4403  T102  677333.583

In [42]:
#import probas
probs = pd.read_csv('./data/probatrap.csv')
print(probs.shape)
probs.head()

(135, 3)

   Trap   proba_x   proba_y
0  T097  0.887285  0.626060
1  T221  0.874128  0.221476
2  T135  0.836210  0.087697
3  T115  0.777944  0.084682
4  T200  0.735764  0.057695

In [43]:
intersect_weights = pd.merge(intersect, probs, how='left', left_on = 'Trap', right_on = 'Trap')
print(len(intersect_weights.GEOID.unique()))
intersect_weights.head()

808

,OBJECTID,GEOID,NAMELSAD,Trap,intersect_,proba_x,proba_y
0,600.0,17031440300,Census Tract 4403,T229,58774.383,0.006978,0.004543
1,600.0,17031440300,Census Tract 4403,T162,161907.113,0.812619,0.258748
2,600.0,17031440300,Census Tract 4403,T227,3267.645,0.342708,0.061361
3,600.0,17031440300,Census Tract 4403,T080,769521.358,0.495712,0.010928
4,600.0,17031440300,Census Tract 4403,T102,677333.583,0.650741,0.081479

In [44]:
intersect_weights['weight_max'] = intersect_weights['intersect_'] * intersect_weights['proba_x']
intersect_weights['weight_median'] = intersect_weights['intersect_'] * intersect_weights['proba_y']
intersect_weights.sort_values('GEOID', inplace=True)
intersect_weights.shape

(2459, 9)

In [45]:
weights = intersect_weights.groupby(['GEOID'])['weight_max', 'weight_median'].sum()
weights.reset_index(inplace=True)
weights.head()

         GEOID     weight_max  weight_median
0  17031010100  194319.819128   11457.558399
1  17031010201  431111.323471   24856.526386
2  17031010202  410187.631132   23939.119891
3  17031010300  361734.047451   21430.629111
4  17031010400  837253.670688   59413.051993

In [46]:
limited_list = list(weights['GEOID'])

def Diff(li1, li2): 
    li_dif = [i for i in li1 + li2 if i not in li1 or i not in li2] 
    return li_dif

missing_list = Diff(limited_list, tracts_ids)
print(len(missing_list), missing_list[0])

70 17031340300

In [47]:
new_rows = {}
new_rows = {'GEOID': missing_list,
            'weight_max' : 70 * list([0]),
            'weight_median' : 70 * list([0])}
    
missing_rows = pd.DataFrame(new_rows)
missing_rows.shape

(70, 3)

In [48]:
weights = pd.concat([weights, missing_rows], axis = 0)
weights.shape

(878, 3)

In [49]:
weights.reset_index(inplace=True)
print(weights.shape)
print(weights.dtypes)
weights.head()

(878, 4)
index              int64
GEOID              int64
weight_max       float64
weight_median    float64
dtype: object

   index        GEOID     weight_max  weight_median
0      0  17031010100  194319.819128   11457.558399
1      1  17031010201  431111.323471   24856.526386
2      2  17031010202  410187.631132   23939.119891
3      3  17031010300  361734.047451   21430.629111
4      4  17031010400  837253.670688   59413.051993

# Bring all together!

In [50]:
objects = list(tracts_census['geo_id'])
ids = []
for i in range(len(objects)):
    ids.append(int(objects[i]))
    
tracts_census['geo_id'] = ids
tracts_census.dtypes

geo_id              int64
total_pop           int64
pov_rate          float64
pop_vulnerable      int64
uninsured_rate    float64
dtype: object

In [51]:
tracts_census.head()

        geo_id  total_pop  pov_rate  pop_vulnerable  uninsured_rate
0  17001000100       4569  1.038739            1366        1.016634
1  17001000201       1937  1.166925             599        1.117192
2  17001000202       2563  1.170722             578        1.094030
3  17001000400       3403  1.316484             823        1.107210
4  17001000500       2298  1.251509             549        1.115842

In [53]:
weights.drop('index', inplace=True, axis =1)
weights.head()

         GEOID     weight_max  weight_median
0  17031010100  194319.819128   11457.558399
1  17031010201  431111.323471   24856.526386
2  17031010202  410187.631132   23939.119891
3  17031010300  361734.047451   21430.629111
4  17031010400  837253.670688   59413.051993

In [54]:
weights_ids = list(weights['GEOID'])
census_ids = list(tracts_census['geo_id'])
print(len(weights_ids), len(census_ids))

878 3123

In [57]:
# attach census data to final tracts
tracts_final = pd.merge(weights, tracts_census, left_on='GEOID', right_on='geo_id', copy=False)
tracts_final.drop('geo_id', inplace=True, axis=1)
print(tracts_final.shape)
limited_list = list(tracts_final['GEOID'])
tracts_final.head()

(878, 7)

,GEOID,weight_max,weight_median,total_pop,pov_rate,pop_vulnerable,uninsured_rate
0,17031010100,194319.819128,11457.558399,4388,1.354015,433,1.130364
1,17031010201,431111.323471,24856.526386,7032,1.353184,999,1.220259
2,17031010202,410187.631132,23939.119891,2275,1.231988,519,1.192269
3,17031010300,361734.047451,21430.629111,6205,1.174871,1450,1.115070
4,17031010400,837253.670688,59413.051993,5603,1.175523,669,1.067642

In [58]:
tracts_final.to_csv('./data/tracts_final_csv.csv')